<meta name="viewport" content="width=device-width; initial-scale=1">
<title><%= title %></title>
<link rel="icon" href="/media/wallhaven-210574.jpeg" type="image/png"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
<link rel="stylesheet" href="/styles/all_styles.css" type="text/css">