<!DOCTYPE html>
<html>
<head>
    <% include components/html_head.ejs%>
</head>

<body>
<section class="hero is-primary">
    <div class="hero-body ">
        <div class="container">
            <h1 class="title">
                New Note
            </h1>
            <h2 class="subtitle">
                Create a new note
            </h2>
        </div>
    </div>
</section>
<div class="container form-container">

    <form method="POST" class="card">
        <div class="field column">
            <label class="label is-small">Title</label>
            <div class="control" >
                <input class="input"
                       name="title"
                       tabindex="1"
                >
            </div>
        </div>
        <div class="field column">
            <label class="label is-small">Sub Title</label>
            <div class="control" >
                <input class="input"
                       name="subtitle"
                       tabindex="2"
                >
            </div>
        </div>
        <div class="field column">
            <label class="label is-small">Notes</label>
            <div class="control" >
                <textarea class="textarea"
                          name="description"
                          tabindex="3"
                          rows="5"
                ></textarea>
            </div>
        </div>

        <button type="submit" class="button is-success">Add Note</button>
        <!--make url dynamic like django templates-->
        <a href="/notes/list" class="button is-outlined is-primary is-pulled-right">View List</a>

    </form>

</div>
</body>

</html>