$default-margin: 20px;
$default-padding: 20px;
$delete-button-margin-left: 10px;

$default-font-family:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans",
"Helvetica Neue",Helvetica,Arial,sans-serif;

.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  margin-bottom: $default-margin;

  .button-container{
    display: flex;
    margin-top: $default-margin;
    justify-content: flex-end;
    button{
      margin-left: 10$delete-button-margin-left;
    }
  }
  > div{
    width: 100%;
  }
  > div.card{
    margin-top: $default-margin;
    pre{
      // override default 'pre' tag
      background-color: unset;
      color: unset;
      font-size: unset;
      overflow-x: unset;
      padding: unset;
      word-wrap: normal;
      font-family: $default-font-family;
    }

    form{
      padding: 0 0 $default-padding 0;
    }
  }
}

$form-margin:30px;
$form-padding: 30px;

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  form{
    margin-top: $form-margin;
    padding: $form-padding;

    input{
      width: 100%;
    }

  }
}